<script setup lang="ts">
import BackgroundImage from '@/components/BackgroundImage.vue';
import Users from '@/components/Users.vue';



</script>

<template>
    <main>
    <BackgroundImage/>
    <Users/>
</main>
</template>

<style>
    main{
        background-color: grey;
    }
</style>