<template>
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="card" style="padding: 4rem;">
            <h4>Vos informations</h4>
        <form @submit.prevent="handleSignup()">
            <div style="margin: 1rem;">
            <label>Email :
                <input type="email" class="form-control" v-model="email">
            </label>
            </div>

            <div style="margin: 3rem;">
            <label>Mot de passe:
                <input type="password" class="form-control" v-model="password">
            </label>
            </div style="margin: 3rem;" >
            <button class="btn btn-primary">Inscription</button>
        </form>
        </div>
    </div>
  </div>
</div>
</template>

<script setup lang="ts">

import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';


const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleSignup() {
    const newUser = {
        email: email.value,
        password: password.value,
    };

    try {
        await auth.signup(newUser);
        router.back();  
    } catch (error) {
        console.error('Signup error:', error);
    }
}

</script>