<script setup lang="ts">
import PublishCard from '@/components/PublishCard.vue';
import type { Publish } from '@/entities';
import { fetchAllPublish } from '@/service/publish-service';
import { onMounted, ref } from 'vue';

const publishList = ref<Publish[]>([]);

onMounted(async () => {
    publishList.value = await fetchAllPublish();

});




</script>

<template>

    <main>
        <div class="container-fluid search">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>



        <div class="container text-center" >
            <div class="row g-3 row-cols-1"> <!--row-cols-md-2-->
                <div class="col" v-for="item of publishList">
                    <PublishCard :publish="item" />
                </div>
            </div>
        </div>
    </main>


</template>

<style scoped>
    .search{
        padding: 50px;
        width: 50%;
    }
</style>