<script setup lang="ts">
import PublishCard from '@/components/PublishCard.vue';
import type { Publish, Section } from '@/entities';
import { fetchPublishSection } from '@/service/publish-service';
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();

const publishList = ref<Publish[]>([]);

watch(() => route.params.id, async () => {
  publishList.value = await fetchPublishSection(route.params.id);
 
}, {immediate:true});

</script>

<template>
    <main>
        <div class="container text-center">
            <div class="row g-3 row-cols-1">
                <div class="col" v-for="item of publishList">
                    <PublishCard :publish="item" />
                </div>
            </div>
        </div>
        
    </main>
</template>

<style scoped>

</style>