<script setup lang="ts">

import type { Publish } from '@/entities';
import { deletePublish } from '@/service/publish-service';
import { fetchOnePublish } from '@/service/publish-service';
import { useAuth } from '@/stores/auth';
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();

const publish = ref<Publish>();

watch(() => route.params.id, async () => {
  publish.value = await fetchOnePublish(route.params.id);

}, { immediate: true });

async function handleDelete() {
  await deletePublish(publish.value?.id);
  router.push('/all');
}

const auth = useAuth();
</script>

<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body" v-if="publish">
        <h5 class="card-title">{{ publish.users }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ publish.section.titre }}</h6>
        <p class="card-text">{{ publish.article }}</p>
        <button @click="handleDelete()" v-if="auth.user?.role == 'ROLE_ADMIN' || auth.user?.id == publish.id"
          type="button" class="btn btn-danger">Suprimer</button>
      </div>
    </div>
  </div>

</template>