<script setup lang="ts">
import { useAuth } from '@/stores/auth';


const auth = useAuth();
</script>

<template>
  <div style="display: flex;justify-content: center;align-items: center;">
    <img src="../assets/home.jpeg" alt="..." style="border-radius: 20px;">
  </div>
  <div style="display: flex; justify-content: center;">
      <h2 v-if="!auth.user" style="color: white; font-weight: bolder; margin: 2rem 0;">connectez-vous ou inscrivez-vous pour pouvoir publié quelque chose</h2>
    </div>

</template>

<style scoped>
  .img{
    background-size: cover;
  }

</style>