<script setup lang="ts">
</script>

<template>
    
    <div style="background-color: black; color: white; margin-top: 2rem;">
    <div class="container text-center">
  <div class="row">
    <div class="col-12 col-md-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid eum a modi delectus. Autem, blanditiis id qui ipsam nobis, optio ipsum quisquam placeat commodi enim, minus ea eum magnam.
      Aspernatur ipsa harum asperiores illum corrupti, pariatur dolorem perferendis corporis debitis maiores adipisci deleniti eveniet natus soluta quaerat cupiditate repudiandae! Magni iure tempora in unde, perferendis id rem fuga explicabo.
      Culpa vitae impedit nostrum blanditiis modi ratione saepe magnam perspiciatis nulla quisquam voluptatem est veniam ad minima ipsum expedita deleniti et corrupti nemo, eveniet accusantium distinctio qui. Quaerat, illo deserunt?</p>
    </div>
    <div class="col-12 col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid eum a modi delectus. Autem, blanditiis id qui ipsam nobis, optio ipsum quisquam placeat commodi enim, minus ea eum magnam.
      Aspernatur ipsa harum asperiores illum corrupti, pariatur dolorem perferendis corporis debitis maiores adipisci deleniti eveniet natus soluta quaerat cupiditate repudiandae! Magni iure tempora in unde, perferendis id rem fuga explicabo.
      Culpa vitae impedit nostrum blanditiis modi ratione saepe magnam perspiciatis nulla quisquam voluptatem est veniam ad minima ipsum expedita deleniti et corrupti nemo, eveniet accusantium distinctio qui. Quaerat, illo deserunt?</p>
    </div>
    <div class="col-12 col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquid eum a modi delectus. Autem, blanditiis id qui ipsam nobis, optio ipsum quisquam placeat commodi enim, minus ea eum magnam.
      Aspernatur ipsa harum asperiores illum corrupti, pariatur dolorem perferendis corporis debitis maiores adipisci deleniti eveniet natus soluta quaerat cupiditate repudiandae! Magni iure tempora in unde, perferendis id rem fuga explicabo.
      Culpa vitae impedit nostrum blanditiis modi ratione saepe magnam perspiciatis nulla quisquam voluptatem est veniam ad minima ipsum expedita deleniti et corrupti nemo, eveniet accusantium distinctio qui. Quaerat, illo deserunt?</p>
    </div>
  </div>
  <p class="card-text">© 2024 Tweetrolle by <strong>MATOIRI El-Amine</strong></p>
</div>
</div>

</template>

<style scoped>

</style>