<script setup lang="ts">
import type { Section } from '@/entities';
import { fetchAllSection } from '@/service/section-service';
import { onMounted, ref } from 'vue';


const sectionId = ref<Section[]>([]);

onMounted(async () => {
    sectionId.value = await fetchAllSection();

});

import { useAuth } from '@/stores/auth';

const auth = useAuth();


</script>

<template>
  <div class="container-fluid" style="margin-bottom: 20px; background-color: gray;">
    <nav class="navbar navbar-expand-lg">
      <RouterLink to="/" class="navbar-brand" style="color: aliceblue; text-decoration: none; font-weight: 900;">Tweetrolle</RouterLink>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <RouterLink to="/all" class="nav-link" aria-current="page">Tout les publications</RouterLink>
          </li>
          <li class="nav-item" v-for="item of sectionId">
            <RouterLink class="nav-link" :to="'/section/'+item.id" >{{item.titre}}</RouterLink>
          </li>
          
        </ul>
      </div>
      <div style="display: flex; justify-content: end;">
      <RouterLink to="/inscription" v-if="!auth.user" style="margin-right: 2rem;"><button type="button" class="btn btn-success" style="margin-right: 5px;">S'inscrire</button></RouterLink>
      <RouterLink to="/login" v-if="!auth.user" style="margin-right: 2rem;"> <button class="btn btn-primary">Connexion</button>  </RouterLink>
      <span v-if="auth.user">{{ auth.user?.email }}</span>
      <RouterLink to="/all" v-if="auth.user" style="margin-right: 2rem;" @click="auth.logout()"><button to="/all" type="button" class="btn btn-danger "> Déconnexion </button></RouterLink>
    </div>
    </nav>
  </div>

</template>


<style scoped>

.navbar {
  background: linear-gradient(to right, blue, pink);
}



 .nav-link {
  color: white;
  font-size: larger;
  color: #a0a0a0;
  text-decoration: none;
  padding: 0 20px;
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.2s;
  
}
.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: yellowgreen;
  transition: 0.5s linear;
}
.nav-link:hover{
  color: #fff;
  font-weight: 500;
}
.nav-link:hover:after{
  width: 100%;
}

span{
  margin-right: 20px;
  color: white;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: grey;
  padding: 3px;
  border-radius: 5px;
}
</style>