<script setup lang="ts">
import type { Publish } from '@/entities';
import { addLike } from '@/service/publish-service';
import { defineProps, ref } from "vue";
import { useRoute, useRouter } from 'vue-router';

defineProps<{
  publish: Publish
}>();

const articleLike = ref<Publish>();

const route = useRoute()


const router = useRouter();


async function like() {
  await addLike(route.params.id);
  if (articleLike.value?.likes) {
    articleLike.value.likes += 1;
  }
}

</script>

<template>

  <div class="card" style="margin: 2rem;">
    <div class="card-body">
      <h5 class="card-title"><span uk-icon="icon: user"></span>{{ publish.users }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ publish.section.titre }}</h6>
      <hr>
      <p class="card-text">{{ publish.article }}</p>
      <div class="lien">
        <RouterLink :to="'/singlePublish/' + publish.id" class="card-link">Voir plus....</RouterLink>
      </div>
    </div>
  </div>

</template>

<style scoped>
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
</style>