<script setup lang="ts">
import type { Publish, Section } from '@/entities';
import { postPublish } from '@/service/publish-service';
import { fetchAllSection } from '@/service/section-service';
import { useAuth } from '@/stores/auth';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

  const router = useRouter();

const publish = ref<Publish>({
    users:'',
    article:'',
    section:{
      titre: '',
    }
});

const sectionList = ref<Section[]>([]);

onMounted(async () => {
    sectionList.value = await fetchAllSection();

});

async function handleSubmit() {
    const added = await postPublish(publish.value);
    router.push("/all");
}

const auth = useAuth();

</script>

<template>
      
    <div class="container" v-if="auth.user">
             <h1>Formulaires</h1>
             <form @submit.prevent="handleSubmit()">
               <fieldset>
                 
                 <div class="form-group p-3">
                   <label for="nom">Entrez votre nom:</label>
                   <input type="text" class="form-control" id="nom" placeholder="Votre Nom" v-model="publish.users">
                 </div>
                 
                 <div class="form-group p-3">
                   <label for="selection">Selectionne le language:</label>
                   <select id="selection" class="form-control" v-model="publish.sectionId">                   
                     <option v-for="itemSection of sectionList" :value="itemSection.id">{{ itemSection.titre }}</option>
                   </select>
                 </div>
                 <div class="form-group p-3">
                   <label for="bio">On t'ecoute:</label>
                   <textarea class="form-control" id="bio" rows="3" v-model="publish.article" placeholder="Ecrit le sujet ici"></textarea>
                 </div>
                 <div class="d-grid gap-2">
                 <button class="btn btn-primary">Button</button>
                </div>
               </fieldset>
             </form>
         </div>

  
</template>

<style scoped>
  h1{
    text-align: center;
    color: aliceblue;
  }
  .btn{
    margin-bottom: 2rem;
  }

</style>