<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';

</script>

<template>
  <Header/>
        <RouterLink to="/"></RouterLink>
        <RouterLink to="/all"></RouterLink>

  <RouterView />
  <Footer/>
</template>

<style scoped>

</style>
